{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-5">Users List</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Pic</th>
                <th scope="col">Usuario</th>
                <th scope="col">Profesion</th>
                <th scope="col">Gender</th>
                <th scope="col">City</th>
              </tr>
            </thead>
            <tbody>
              {% for usr in get_users %}
              <tr>
                <th scope="row">{{ usr.id }}</th>
                <td><img src="{{ usr.photo.url }}" 
                  width="40"
                  height="40"
                  style="border-radius: 50px;"></td>
                <td>{{ usr.first_name }}</td>
                <td>{{ usr.Profesion }}</td>
                <td>{{ usr.Gender }}</td>
                <td>{{ usr.City }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>
